[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=cart.{{ env }}.sridevops.site
Environment=CART_PORT=8080
Environment=USER_HOST=user.{{ env }}.sridevops.site
Environment=USER_PORT=8080
Environment=AMQP_HOST=rabbitmq.{{ env }}.sridevops.site
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target

#the value for env variable is defined in run.sh and is passed here during execution.
#template folder is used since we want that value to be carried over here. files folder will not be useful here since it is used with copy module and it will not pass the variable value.